@model Order

<div class="row shadow my-3 shadow">
    <div class="col-md-3 border-1 border-dark p-3 bg-light shadow">
        <h5 class="display-5 text-center">
        <i class="fa fa-address-book"></i>
        <br>
        @Model.Name
        </h5>
        <p>@Model.Line1</p>
        <p>@Model.Line2</p>
        <p>@Model.Line3</p>
        <p>@Model.City</p>
        <p class="roundend my-2">
            <span class="bg-warning py-2">Shipped</span>
            <span class="bg-info">@(Model.Shipped ? "Completed" : "In progress")</span>
        </p>
    </div>
    <div class="col-md-9">
        <h6 class="display-6 mt-3 text-center">Cart</h6>
        <ul class="list-group">
            @foreach(var p in Model.Lines)
            {
                <li class="list-group-item">@p.Product.ProductName</li>
                <li class="list-group-item">Miktar: @p.Quantity</li>
                <li class="list-group-item">@p.date</li>
                <li class="list-group-item justify-content-end"><span class="text-danger">@((p.Product.Price * p.Quantity).ToString("c"))</span></li>
            }
        </ul>
        <div class="text-center mt-2 p-2">
            <form method="post" asp-action="Complete">
                <input type="hidden" name="id" value="@Model.OrderId">
                <button type="submit" class="btn btn-outline-primary" disabled="@Model.Shipped">Submit</button>
            </form>
        </div>
    </div>
</div>